
.cart {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  overflow: hidden;
  border: 1px solid #2ecf0e;
}

.cart th, .cart td {
  text-align: start;
  font-size: 14px;
  overflow: hidden;
  padding: 10px;
}

.cart input[type="number"] {
  text-align: center;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.cart button {
  background: #008000;
  color: white;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.cart input[type="number"], .cart button {
  display: inline-block;
}

.changenum {
  width: 30px;
}

.cart input[type="checkbox"] {
  transform: scale(1.2);
}

.itemname-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.closebtn {
  font-size: 12px;
  cursor: pointer;
}

.therm {
  margin-left: 40px;
  width: 150px;
}

.to-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-order {
  background-color: #008000;
  font-size: 20px;
  text-align: center;
}

.order-form table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border: 1px solid #2ecf0e;
}

.order-form td {
  padding: 5px;
}

.order-form input,
.order-form textarea {
  width: 240px;
  padding: 5px;
  font-size: 16px;
}

#ordering {
  text-align: center;
}

.total {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
} 
