/* Стили для адаптивной таблицы */

.good {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.good img {
  width: 320px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.good div {
  text-align: center;
}

.good button {
    background: #008000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: background 0.3s;
}

.good input[type="number"] {
  background: white;
  width: 50px;
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  color: black;
}

.good button, .good input[type="number"] {
  display: inline-block;
}

#good-name {
  font-size: 28px;
}

#good-price {
  font-size: 24px;
}

.good-quantity {
  font-size: 18px;
}
  
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}
