/* Стили для адаптивной таблицы */
.good-table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: collapse;
}

.good-table td {
  width: 180px;
  vertical-align: top;
}

.good {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #008000;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.good img {
  width: 160px;
  height: 140px;
  border-radius: 10px;
  cursor: pointer
}

.good div {
  text-align: center;
}

.good button {
    background: #008000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.good input[type="number"] {
  background: white;
  border-radius: 5px;
  width: 40px;
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
  color: black;
}

.good button, .good input[type="number"] {
  display: inline-block;
}

#good-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 100px;
}

#good-price {
  font-size: 16px;
}

#good-desc {
  margin: 10px;
}

.good-quantity {
  font-size: 16px;
}
  
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}
