:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  --bg-color: var(--tg-theme-bg-color);
  background-color: var(--bg-color);
  color: var(--tg-theme-text-color);
  margin: 0;
  padding: 0;
  color-scheme: var(--tg-color-scheme);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, h3 {
  text-align: center;
}

  /* Адаптация для планшетов */
  @media (max-width: 768px) {
    .body {
      flex: 1 1 calc(50% - 10px); 
      /* На планшетах ширина колонок 50% */
    }
  }
  
  /* Адаптация для телефонов */
  @media (max-width: 480px) {
    .body {
      flex: 1 1 100%; 
      /* На телефонах каждая колонка занимает 100% */
    }
  }
